@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');


body{
    font-family: 'Rubik', sans-serif;
}

:root {
    --primary: #10B981;
    --bluish: #93C5FD;
    --bluish-White: #DBEAFE;
}
/** containers **/

.container-fluid{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-centre {
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 600px;
}

/** links **/

.primary-link {
   
    text-decoration: none;
    color: white;
    background-color: var(--primary);
    width: max-content;
    margin: auto;
    border-radius: 0.6rem;
    padding: 0.6rem 1.2rem;
      
}

.secondary-link {
    text-decoration: none;
    color: var(--primary);
    border: 1px solid var(--primary);
    width: max-content;
    min-width: 140px;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}
.social-links{
    
}
hr {
    margin: 2rem 0;;
}

/** lists **/

.unordered-list {
    list-style: none;
}

.inline-list inline {
        padding: 1rem 2rem;
}
/** nav **/
.navigation {
    background-color: var(--primary);
    padding: 1rem 0rem;
    color: white;
    border-bottom-left-radius: 1.5rem;
}

.navigation .brand {
    font-weight: bold;
    
}

.navigation ul {
    list-style: none;
    text-align: right;
}

.navigation li {
    display: inline-block;
    padding: 0rem 0.8rem;;
}

.navigation a {
    text-decoration: none;
    color: white
}

.navigation .active {
    font-weight: bold;
}

/** header **/

.hero {
    color: var(--bluish);
    display: block;
    text-align: center;
    
}

.hero img {
    max-width: 350px;
    margin: auto;
    display: block;
}

/** section **/

.section {
    padding: 2rem 0rem;
    text-align: center;
}

.section h2 {
    text-align: center;
}

.ow {
    background-color: var(--bluish-White);
}





/** footer **/
.footer {
    background-color: var(--primary);
    color: white;
    padding: 2rem 0rem;
    border-top-right-radius: 1rem;
    text-align: center;
}
.footer .heading {
    font-weight: bold;
    font-size: larger;
  
}

.footer ul inline {
    padding: 2px;
}
